
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  font-family: 'Inter', sans-serif;
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  background-color: white;
}

header {
  width: 90%;
  margin: auto;
}

.nav-bar {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  align-items: center;
  img{
    height: 100%;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.nav-item {
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: black;
  font-weight: 500;
}
.nav-link:hover{
  text-decoration: underline;
}

.login-button button {
  border: none;
  border-radius: 55px;
  background-color: #0f6b89;
  transition: all 200ms;
}
.login-button button:hover{
  background-color: #1387ad;
}
.login-button button a {
  display: block;
  padding: 15px 50px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
 
  #logo-item{
      display: block;
  }
  #logo{
      font-size: 3.2rem;
      background-color: transparent;
      color: black;
  }
  .icon{
      transform: scale(1.5);
      margin-right: 5px;
  }
  .nav-bar {
      padding: 25px 0;
  }
  .nav-item {
      display: none;
      margin-right: 0;
  }
  .login-button {
      display: none;
  }
  .mobile-menu-icon {
      display: block;
  }
  .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
  .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 0;
  }
  .mobile-menu .nav-item {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
  }
  .mobile-menu .login-button {
      display: block;
      padding: 0 0;
      padding-bottom: 0px;
  }
  .mobile-menu .login-button button {
      padding: 0;
      width: 100%;
  }
  .open {
      display: block;
      border-radius: 10px;
      overflow: hidden;
  }


  .nav-link{
      display: block;
      padding: 10px 0;
      background-color: #d6d6d6;
      color: black;
      width: 100%;
  }
  .nav-link:hover{
      text-decoration: underline;
  }
  .login-button button{
      border-radius: 0;
  }
  .login-button button a{
      display: block;
      width: 100%;
      padding: 12px 50px;
  }
  .login-button button a:hover{
      text-decoration: underline;
  }
}
@media screen and (max-width: 600px) {
  .nav-bar{
      padding: 25px 0;
  }
  .mobile-menu .nav-item {
      padding-top: 0;
      padding-bottom: 0px;
  }
}

main{
  flex: 1 0 auto;
}
.Home{
  width: 90%;
  margin: 25px auto;

  display: flex;
  align-items: center;
  .home__texto1{
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    align-items: center;
    .home__texto1__img{
      width: 30%;
      border-radius: 25%;
      object-fit: cover;
    }
    .home__texto1__text{
      padding-left: 45px;
      .home__texto1__text__h1{
        font-size: 2em;
      }
      .home__texto1__text__p{
        text-align: justify;
        margin-top: 20px;
        font-size: 1em;
        line-height: 35px;
      }
    }
  }
}
@media screen and (max-width: 768px) {

  .home__texto1{
    flex-direction: column;
  }
  .Home .home__texto1 .home__texto1__text {
    padding-left: 0; 
  }
  footer{
    article{
      flex-direction: column;
      align-items: center;
      .table__footer{
        width: 80%;
      }
    }
  }
}

footer{
  margin-top: 15vh;
  width: 100%;
  flex-shrink: 0;
  padding: 25px 0;
  background-color: #ebebeb;
  article{
    display: flex;
    justify-content: space-evenly;
    img{
      width: 250px;
      object-fit: contain;
    }
    table {
      width: 50%;
      th, td {
        padding: 10px;
        text-align: left;
        color: #636368;
      }
    
      th {
        color: #43434b;
      }
    
    }
    
  }
  p{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    color: #636368;
  }
  
}


.cadastro{
  min-width: 25%;
  max-width: 100%;
  margin: 0 auto;
  .cadastro__form__titulo{
    font-size: 2em;
    margin-bottom: 25px;
    color: #0e6b89;
  }
  .cadastro__form{
    margin: 60px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    label{
      font-size: 1.2em;
      margin-bottom: 5px;
    }
    input{
      border: none;
      margin-bottom: 10px;
      font-size: 1.2em;
      border-bottom: 1px solid black;
      padding: 5px;
      outline: none;
    }

    .cadastro__form__genero{
      margin: 10px 0;
      text-align: center;
      label{
        margin-right: 15px;
      }
    }
    .cadastro__form__botao{
      background-color: #0e6b89;
      border: none;
      padding: 15px 0;
      color: #ffffff;
      cursor: pointer;
    }
    .cadastro__form__link{
      text-align: center;
      margin-top: 15px;
      color: #000000;
      text-decoration: none;
      font-weight: 600;
    }
    .cadastro__form__link:hover{
      text-decoration: underline;
    }
  }
}

.ajuda {
  min-width: 50%;
  max-width: 80%;
  margin: 60px auto;

  h2 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 25px;
    color: #393941;
  }

  p {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 35px;
    color: #393941;
  }

  .faqItem {
    margin-bottom: 16px;
    border: 1px solid #bdd3f5;
    border-radius: 25px;
    overflow: hidden;
    .faqTitle {
      padding: 25px 20px;
      font-size: 1.2em;
      font-weight: 700;
      background-color: #f0f0f0;
      cursor: pointer;
      color: #393941;
      transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona transição */
    }

    .faqAnswer {
      padding: 15px 35px;
      color: #5d5e6c;
      font-size: 1.1em;
    }
  }

  .active {
    .faqTitle {
      background-color: #eff6ff;
      color: #0e6b89;
    }
  }
}






.historico{
  width: 90%;
  margin: 55px auto;
  p{
    color: #393941;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
  }
  .historico__titulo{
    text-align: center;
    font-size: 2.5em;
    color:#393941;
    margin-bottom: 35px;
  }
  .historico__table{
    width: 100%;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
    margin-bottom: 65px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 10px 10px 10px 10px rgb(143, 143, 143);
    thead{
      tr{
        background-color: #0e6b89;
        color: white;
        text-align: left;
        th{
          padding: 20px 15px;
        }
      }
    }

    tbody{
      .tr{
        padding: 15px 15px;
        .td{
          padding: 10px 15px;
        }
      }
      & tr:nth-child(2n){
        background-color: #ccc;
      }
     
    }
  }
  .historico__deslogar{
    width: 100%;
    padding: 15px 0;
    border-radius: 55px;
    border: none;
    background-color: #b92b2b;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 250ms;
  }

  .historico__deslogar:hover{
    background-color: #c94a4a;
  }
}

.saude{
  width: 90%;
  margin: 30px auto;
  .saude__principal{
    display: flex;
    gap: 50px;
    align-items: center;
    .saude__principal__section{
      .saude__principal__section__h2{
        font-size: 2.5em;
        margin-bottom: 25px;
        color:#393941;
      }
      .saude__principal__section__p{
        color: #393941;
        font-size: 1.1em;
      }
    }
    .saude__principal__img{
      width: 300px;
    }
  }

  .saude__segundario{
    margin-top: 25px;
    background-color: #0e6b89;
    padding: 45px 25px;
    color: white;
    border-radius: 15px;
    text-align: center;
    .saude__segundario__h3{
      font-size: 2em;
      margin: 0 auto;
      margin-bottom: 15px;
    }
    .saude__segundario__p{
      width: 90%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .saude__segundario__section{
      display: flex;
      gap: 20px;
      div{
        background-color: #9bccdd;
        color: #000000;
        padding: 25px;
        width: 50%;
        border-radius: 15px;
        h4{
          font-size: 1.3em;
          margin-bottom: 15px;
          color:#393941;
        }
        p{
          text-align: justify;
          color: #393941;
        }
      }
    }
  }
  .saude__terceiro{
    margin-top: 80px;
    border-top: 1px solid #0e6b89;
    h3{
      font-size: 1.5em;
      margin-top: 25px;
      margin-bottom: 15px;
    }
    p{
      text-align: justify;
      font-size: 1.1em;
    }
  }
}

@media screen and (max-width: 768px) {
  .historico{
    .historico__titulo{
      font-size: 1.8em;
    }
    .historico__table{
      font-size: 10px;
    }
  }
  .saude{
    .saude__principal{
      flex-direction: column-reverse;
    }
    .saude__segundario{
      .saude__segundario__section{
        flex-direction: column;
        div{
          width: 100%;
          border-radius: 15px;
        }
      }
    }
  }
  
}
